.about-contact__wrapper {
  max-width: 1280px;
  padding: 185px 70px;
  margin: 0 auto;
  margin-bottom: 100px;

  @include back("../img/about-contact.jpg");
}

.about-contact__description {
  margin: 0;
  margin-bottom: 30px;
  @include font(19px, 300, 30px, #ffffff);
}

.about-contact__inner-wrapper {
  margin-left: auto;
  margin-right: 150px;
  width: 500px;
}

.about-contact__button {
  font-size: 20px;
  width: 260px;
  height: 65px;
}

@include tablet {
  .about-contact__wrapper {
    padding: 60px 70px;
  }

  .about-contact__inner-wrapper {
    width: 75%;
    margin: 0 auto;
  }

  .about-contact__description {
    margin-bottom: 35px;
  }
}

@include mobile {
  .about-contact__wrapper {
    padding: 20px;
    margin-bottom: 30px;
  }

  .about-contact__description {
    font-size: 16px;
    line-height: 24px;
  }

  .about-contact__inner-wrapper {
    width: 80%;
  }

  .about-contact__button {
    width: 100%;
  }
}
