.catalog__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  padding-bottom: 120px;
}

.catalog__header {
  margin: 0;
  margin-bottom: 60px;
  @include font(60px, bold, 72px, $black);
}

.catalog__list {
  @include clear-ul;

  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 40px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.catalog__link {
  color: $black;
  display: flex;
  flex-direction: column;
}

.catalog__image-wrapper {
  order: 1;
  margin-bottom: 20px;
}

.catalog__item-header {
  margin: 0;
  order: 2;
  @include font(25px, 500);
  width: 85%;
}

@include tablet {
  .catalog__wrapper {
    padding-bottom: 30px;
  }

  .catalog__header {
    margin-bottom: 48px;
  }

  .catalog__item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 45px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 2%;
    }
  }

  .catalog__image-wrapper {
    height: 206px;

    & img {
      max-width: auto;
      height: 100%;
    }
  }

  .catalog__item-header {
    width: 84%;
    font-size: 21px;
    line-height: 30px;
  }
}

@include mobile {
  .catalog__wrapper {
    padding: 0 20px;
  }

  .catalog__header {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  .catalog__item {
    width: 100%;
    margin-right: 0;
  }

  .catalog__image-wrapper {
    height: 190px;
    text-align: center;
  }

  .catalog__item-header {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}
