.clients {
  background-color: #e9f2f5;
}

.clients__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 19px 70px;
}

.clients__list {
  @include clear-ul;

  display: flex;
  justify-content: space-between;
}

.clients__list-item-image-wrapper {
  height: 50px;
  width: 152px;
}
