.contacts {
  display: flex;
  width: 54%;
  justify-content: flex-end;
}

.page-footer .contacts {
  width: 460px;
}

.contacts__list {
  @include clear-ul;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 15px;
}

.page-footer .contacts__list {
  flex-direction: column;
  margin-right: 9%;
}

.contacts__list-item {
  margin-right: 35px;
}

.page-footer .contacts__list-item {
  margin-right: 0;
}

.contacts__list-item-link {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }
}

.contacts__button {
  position: relative;
  width: 218px;
  height: 55px;
  padding-left: 32px;

  &::before {
    @include pseudo;

    top: 18px;
    left: 11%;

    width: 14px;
    height: 20px;

    @include back("../img/iphone.png");
  }
}

@include tablet {
  .contacts {
    width: 50%;
  }

  .page-footer .contacts {
    margin-top: 15px;
    width: 50%;
  }

  .contacts__list {
    justify-content: flex-end;
    width: 220px;
  }

  .page-footer .contacts__list {
    margin: 0;
  }

  .contacts__list-item {
    margin: 0;
  }

  .contacts__button-text {
    display: none;
  }

  .contacts__button {
    width: 60px;
    padding: 15px;
    box-sizing: border-box;

    &::before {
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include mobile {
  .page-footer .contacts {
    width: 100%;
    flex-direction: column;
    margin-top: 28px;
  }

  .contacts__list {
    display: none;
  }

  .page-footer__contacts .contacts__list {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .contacts__list-item {
    width: 100%;
  }

  .page-footer .contacts__button-text {
    display: inline;
  }

  .page-footer .contacts__button {
    position: relative;
    width: 218px;
    height: 55px;
    padding-left: 32px;

    &::before {
      @include pseudo;

      top: 18px;
      left: 11%;

      width: 14px;
      height: 20px;

      @include back("../img/iphone.png");
    }
  }

  .page-header .contacts__button {
    width: 50px;
    height: 50px;
    background-color: transparent;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%);

      width: 25px;
      height: 25px;

      @include back("../img/call-answer.png");
    }
  }

  .contacts {
    margin-top: 0;
    width: 30px;
  }
}
