.films-list {
  @include clear-ul;

  width: 20%;
}

.films-list__item {
  margin-bottom: 20px;
}

.films-list__link {
  display: block;
  padding: 5px 0;
  margin-bottom: 5px;
  @include font(20px, 500, 30px, $green);

  &--active {
    color: $black
  }

  &:hover,
  &:active {
    opacity: 0.8;
  }
}

.films-list__description {
  margin: 0;

  @include font(14px, normal, 18px, #959595);
}

@include tablet {
  .films-list {
    @include clear-ul;
    width: 30%;
  }

  .films-list__link {
    font-size: 16px;
    line-height: 1.2;
  }
}

@include mobile {
  .films-list {
    width: 100%;
  }
}
