.inner-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
  }

  &__image-wrapper {
    border-radius: 3px;
    width: 40%;
    margin-bottom: 50px;

    @include tablet {
      width: 100%;
      text-align: center;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__text-wrapper {
    margin-top: -5px;
    width: 58%;

    @include tablet {
      width: 80%;
      margin: 0 auto;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__text-wrapper-upper {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__text-wrapper-main {
    width: 48%;

    @include tablet {
      width: 100%;
    }
  }

  &__second-text-wrapper {
    width: 38%;

    @include tablet {
      width: 80%;
      margin: 0 auto;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 18px;

    @include font(16px, 300, 24px, $black);
  }

  &__list {
    margin: 0;
    margin-bottom: 25px;
    padding-left: 20px;
    @include font(16px, 300, 24px, $black);
  }

  &__lists-wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &__list-wrapper {
    width: 49%;

    @include mobile {
      width: 100%;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 16px;

    @include font(24px, bold, 30px, $black);
  }

  & h4 {
    margin: 0;
    margin-bottom: 10px;

    @include font(18px, bold, 1, $black);
  }

  &__sizes {
    @include clear-ul;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__sizes-item {
    position: relative;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 30px;

    @include font(14px, normal, 30px, $black);

    &::before {
      @include pseudo;

      width: 30px;
      height: 40px;

      top: 0;
      left: -25px;
    }

    &--alluminium {
      &::before {
        background-color: #AAAAAA;
      }
    }

    &--first {
      &::before {
        background-color: #659B4E;
      }
    }

    &--second {
      &::before {
        background-color: #306519;
      }
    }

    &--third {
      &::before {
        background-color: #97CD81;
      }
    }
  }

  &__table-wrapper {
    width: 60%;

    @include tablet {
      width: 100%;
      margin: 0 auto;
    }

    @include mobile {
      display: none;
    }
  }

  &__table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;

    & th {
      background-color: $green;
      color: #ffffff;
      border: 1px solid $grey;
      padding: 5px;
    }

    & td {
      padding: 5px;
      border: 1px solid $grey;
      text-align: center;
    }

    @include mobile {
      display: none;
    }
  }

  &__button {
    display: none;

    @include mobile {
      display: block;
      width: 100%;
      text-align: center;
      padding: 16px;
      box-sizing: border-box;
      font-size: 20px;
    }
  }
}
