.inner-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
  }

  &__image-wrapper {
    border-radius: 3px;
    width: 40%;
    margin-bottom: 50px;

    @include tablet {
      width: 100%;
      text-align: center;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__text-wrapper {
    width: 58%;

    @include tablet {
      width: 80%;
      margin: 0 auto;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__second-text-wrapper {
    width: 38%;

    @include tablet {
      width: 80%;
      margin: 0 auto;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__description {
    margin: 0;
    margin-top: -8px;
    margin-bottom: 25px;

    @include font(18px, 300, 30px, $black);
  }

  &__list {
    margin: 0;
    margin-bottom: 25px;
    padding-left: 20px;
    @include font(16px, 300, 24px, $black);
  }

  &__lists-wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &__list-wrapper {
    width: 49%;

    @include mobile {
      width: 100%;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 20px;

    @include font(24px, bold, 30px, $black);
  }

  & h4 {
    margin: 0;
    margin-bottom: 10px;

    @include font(18px, bold, 1, $black);
  }

  &__sizes {
    @include clear-ul;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  &__sizes-item {
    padding: 5px 10px;
    margin-right: 2px;
    border-radius: 100%;

    @include font(18px, bold, 30px, #c3c3c3);

    &--active {
      background-color: $green;
      color: #ffffff;
    }
  }

  &__table-wrapper {
    width: 60%;

    @include tablet {
      width: 100%;
      margin: 0 auto;
    }

    @include mobile {
      display: none;
    }
  }

  &__table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;

    & th {
      background-color: $green;
      color: #ffffff;
      border: 1px solid $grey;
    }

    & td {
      padding: 0.5%;
      border: 1px solid $grey;
    }

    @include mobile {
      display: none;
    }
  }

  &__button {
    display: none;

    @include mobile {
      display: block;
      width: 100%;
      text-align: center;
      padding: 16px;
      box-sizing: border-box;
      font-size: 20px;
    }
  }
}
