.intro {
  position: relative;
  @include back("../img/intro.jpg");
  color: #ffffff;
  background-size: cover;
  background-position: center top;
  margin-top: -252px;
}

.intro__wrapper {
  position: relative;
  max-width: 1280px;
  padding: 285px 70px 82px;
  margin: 0 auto;
}

.intro__header {
  margin: 0;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro__description {
  display: block;
  margin: 0;
  width: 560px;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
}

.intro__about-button {
  font-size: 20px;
  width: 245px;
  height: 65px;
  margin-bottom: 80px;
}

.intro__list {
  @include clear-ul;

  display: flex;
  flex-wrap: wrap;
}

.intro__list-item {
  width: 250px;
  margin-right: 125px;
}

.intro__list-item-number {
  display: block;
  margin-right: 25px;
  color: #70b652;
  font-size: 60px;
  line-height: 72px;
  font-weight: bold;
}

.intro__list-item-unit {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.intro__list-item-description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.intro__list-item-number-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.intro__big-video-wrapper {
  &::before {
    @include pseudo-top(472px, 470px, -92%, -25%);

    @include back("../img/euro.png");
  }
}

.intro__video-wrapper {
  position: absolute;

  top: 51%;
  right: 15%;

  &::before {
    @include pseudo;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 190px;
    height: 190px;

    background-color: #16aeed;
    border-radius: 50%;
    opacity: 0.5;
  }

  &::after {
    @include pseudo;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 113px;
    height: 113px;

    @include back("../img/play.png");
    transition-duration: 1s;
  }

  cursor: pointer;

  &:hover {
    &::after {
      transform: translate(-50%, -50%) scale(1.2);
      transition-duration: 1s;
    }
  }
}

@include tablet {
  .intro__wrapper {
    padding: 200px 70px 90px;
  }

  .intro__header {
    @include font(60px, bold, 72px, #ffffff);
  }

  .intro__description {
    @include font(24px, 300, 36px);
    width: 300px;
  }

  .intro__big-video-wrapper {
    &::before {
      @include pseudo-top(240px, 240px, -25%, 15%);

      @include back("../img/euro.png");
    }
  }

  .intro__video-wrapper {
    position: absolute;

    top: 35%;
    right: 7%;

    &::before {
      width: 98px;
      height: 98px;
    }

    &::after {
      width: 58px;
      height: 58px;

      @include back("../img/play.png");
    }

    cursor: pointer;

    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(1.2);
        transition-duration: 1s;
      }
    }
  }

  .intro__list-item {
    width: 250px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@include mobile {
  .intro {
    margin-top: -200px;
  }

  .intro__wrapper {
    padding: 140px 20px;
    max-width: $min-mobile-width;
    margin: 0 auto;
  }

  .intro__header {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
  }

  .intro__description {
    @include font(18px, 300, 24px);

    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 240px;
  }

  .intro__about-button {
    margin: 0 auto;
    width: 210px;
    height: 55px;
  }

  .intro__video {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 215px;
    height: 215px;
  }

  .intro__big-video-wrapper {
    width: 215px;
    height: 215px;
  }

  .intro__video-wrapper {
    position: relative;
    width: 220px;
    margin: 0 auto;
  }

  .intro__list {
    width: 260px;
    margin: 0 auto;
    flex-direction: column;
  }

  .intro__list-item {
    margin-right: 0;
    margin-bottom: 35px;
  }

  .intro__list-item-number {
    font-size: 48px;
    line-height: 56px;
  }
}
