.items {
  width: 73%;
}

.items__header {
  margin: 0;
  margin-bottom: 40px;

  @include font(48px, bold, 58px, $black);
}

.items__list {
  @include clear-ul;
}

.items__item {
  border: 1px solid $grey;
  margin-bottom: 25px;

  & h4 {
    margin: 0;
    margin-top: -5px;
    margin-bottom: 20px;

    @include font(24px, bold, 30px);
  }

  & h5 {
    margin: 0;
    margin-bottom: 2px;

    @include font(16px, bold, 24px);

    letter-spacing: 2px;
    text-transform: uppercase;
  }

  & p {
    margin: 0;
    margin-bottom: 30px;

    @include font(16px, 500, 24px);
  }
}

.items__specs {
  @include font(14px, bold, 18px, $green);

  text-transform: uppercase;
}

.items__link {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  color: $black;
}

.items__first-wrapper {
  width: 40%;
}

.items__second-wrapper {
  width: 57%;
}

.items__image-wrapper {
  margin-bottom: 25px;
}
