.page-footer {
  background-color: #1e3042;
}

.page-footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 70px;
}

.page-footer__logo-wrapper {
  width: 180px;
  height: 71px;
}

.page-footer__inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer__description {
  margin: 0;
  width: 35%;
  @include font(12px, 300, 18px, #7f8fa0)
}

.page-footer__contacts {
  align-items: center;
}
