.page-header {
  position: relative;
  z-index: 2;
  color: #e2effa;

  &--inner {
    @include back("../img/intro.jpg");
    background-size: cover;
    background-position: center top;
  }
}

.page-header__wrapper {
  max-width: 1280px;
  padding: 20px 70px;
  margin: 0 auto;
}

.page-header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.page-header__logo-wrapper {
  width: 180px;
  height: 71px;
}

.page-header__description {
  margin: 0;
  margin-top: 25px;
  display: block;
  width: 160px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  width: 150px;
  user-select: none;
}

.page-header__contacts {
  align-items: center;
  margin-top: 30px;
}
