.page-header {
  position: relative;
  z-index: 2;
  color: #e2effa;

  &--inner {
    @include back("../img/intro.jpg");
    background-size: cover;
    background-position: center top;
  }
}

.page-header__wrapper {
  max-width: 1280px;
  padding: 20px 70px;
  margin: 0 auto;
}

.page-header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.page-header__toggle {
  display: none;
}

.page-header__logo-wrapper {
  width: 180px;
  height: 71px;
}

.page-header__description {
  margin: 0;
  margin-top: 25px;
  display: block;
  width: 160px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  width: 150px;
  user-select: none;
}

.page-header__contacts {
  align-items: center;
  margin-top: 30px;
}

@include tablet {
  .page-header__wrapper {
    padding: 50px 70px;
    box-sizing: border-box;
  }

  .page-header__inner-wrapper {
    margin-bottom: 25px;
  }

  .page-header__toggle {
    display: block;
    margin-top: 30px;

    width: 51px;
    height: 35px;
    @include back("../img/tablet-menu.png");
    background-color: transparent;
    border: none;
  }

  .page-header__language-list {
    display: none;
  }

  .page-header__description {
    display: none;
  }

  .page-header__contacts {
    margin-top: 25px;
  }
}

@include mobile {
  .page-header__wrapper {
    max-width: $min-mobile-width;
    padding: 30px 20px 20px;
    box-sizing: border-box;
  }

  .page-header__inner-wrapper {
    margin-bottom: 0;
  }

  .page-header__toggle {
    margin-top: 0;
    width: 34px;
    height: 24px;
    margin-bottom: 5px;

    @include back("../img/mobile-menu.png");
  }

  .page-header__contacts {
    margin-right: 7px;
    margin-bottom: 7px;
  }

  .page-header__logo-wrapper {
    width: 124px;
    height: 100;
  }
}
