.partners__wrapper {
  max-width: 1280px;
  padding: 20px 70px 90px;
  margin: 0 auto;
}

.partners__header {
  margin: 0;
  margin-bottom: 50px;

  @include font(48px, bold, 60px);
}

.partners__list {
  @include clear-ul;

  display: flex;
  width: 100%;
}

.partners__list-item {
  width: 25%;
  margin-right: 2%;
  height: 115px;

  border: 1px solid #dae5f3;
}
