.target {
  background-color: #ffffff;
}

.target__wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 70px;
}

.target__header {
  margin: 0;
  margin-bottom: 55px;

  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
}

.target__header-block {
  margin-bottom: 30px;
}

.target__image-wrapper {
  width: 100%;
}

.target__description-block {
  position: absolute;
  bottom: -35%;
  right: 8.5%;

  padding: 40px 60px 10px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 4px 49px 0 rgba(56, 90, 122, 0.18);

  width: 47%;
  background-color: #ffffff;
}

.target__description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
}

.target__big-video-wrapper {
  &::before {
    @include pseudo-top(229px, 213px, -5%, 7%);

    @include back("../img/small-euro.png");
  }
}

.target__video-wrapper {
  position: absolute;

  bottom: -13px;
  left: 14%;

  &::before {
    @include pseudo;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 105px;
    height: 105px;

    background-color: #16aeed;
    border-radius: 50%;
    opacity: 0.5;
  }

  &::after {
    @include pseudo;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 62px;
    height: 62px;

    @include back("../img/small-play.png");
    transition-duration: 1s;
  }

  cursor: pointer;

  &:hover {
    &::after {
      transform: translate(-50%, -50%) scale(1.2);
      transition-duration: 1s;
    }
  }
}

