.technologies {
  @include back("../img/technologies.jpg");
  color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.technologies__wrapper {
  max-width: 1280px;
  padding: 70px;
  padding-bottom: 97px;
  margin: 0 auto;
}

.technologies__header {
  margin: 0;
  margin-bottom: 115px;

  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
}

.technologies__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &--hide {
    display: none;
  }
}

.technologies__inner-block {
  width: 470px;
}

.technologies__inner-header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 55px;
  font-weight: bold;
}

.technologies__inner-description {
  margin: 0;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
}

.technologies__table {
  width: 540px;
  box-sizing: border-box;
  padding: 18px 60px 0;
  background-color: rgba($color: #182430, $alpha: 0.8);
  border: 1px solid #677d9b;
  border-radius: 12px;
  margin-right: 85px;

  & td {
    border-top: 1px solid rgba($color: #e9ebee, $alpha: 0.3);
    padding: 30px 0;
  }

  & th {
    padding: 20px 0;
  }
}

.technologies__table-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-align: left;
}

.technologies__table-header-green-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #659b4e;
}

.technologies__table-green-text {
  font-size: 60px;
  line-height: 72px;
  font-weight: bold;
  color: #659b4e;
  margin-right: 20px;
}

.technologies__table-text {
  display: inline-block;
  width: 80px;
  @include font(16px, normal, 18px, #ffffff);
}

.technologies__link-list {
  @include clear-ul;
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.technologies__link-list-item {
  margin-right: 100px;
  padding: 30px 0 40px;
}

.technologies__link-list-text {
  @include font(24px, normal, 48px, #16aeed);
  border: none;
  border-bottom: 2px dotted #16aeed;
  background-color: transparent;
  cursor: pointer;

  &--active {
    color: #ffffff;
    border-bottom: none;
  }

  &:hover, &:focus {
    color: #ffffff;
    border-bottom: none;
  }
}

.technologies__link-wrapper {
  border-top: 1px solid #4b5966;
}

@include tablet {
  .technologies__wrapper {
    padding: 60px 70px;
  }

  .technologies__header {
    margin-bottom: 85px;
  }

  .technologies__inner-description {
    margin-bottom: 55px;
  }

  .technologies__inner-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .technologies__inner-block {
    width: 75%;
  }

  .technologies__table {
    width: 100%;
    margin-right: 0;
    padding: 18px 120px 0 90px;
  }

  .technologies__link-list {
    flex-direction: column;
    padding: 30px 70px;
  }

  .technologies__link-list-item {
    margin-right: 0;
    padding: 0;
    margin-bottom: 3px;
  }
}

@include mobile {
  .technologies__wrapper {
    padding: 35px 20px 0;
    max-width: $mobile-middle-width;
    box-sizing: border-box;
  }

  .technologies__header {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  .technologies__inner-header {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .technologies__inner-description {
    font-size: 16px;
    line-height: 24px;
  }

  .technologies__inner-block {
    width: 100%;
  }

  .technologies__table {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .technologies__link-list {
    padding: 20px;
    max-width: $mobile-middle-width;
  }

  .technologies__link-list-item {
    padding: 8px 0;
    width: 100%;
  }

  .technologies__table-header {
    font-size: 24px;
    line-height: 36px;
  }

  .technologies__table-text {
    width: 78px;
  }

  .technologies__table-green-text {
    font-size: 48px;
    margin-right: 7px;
  }

  .technologies__link-list-text {
    font-size: 22px;
    line-height: 30px;
    text-align: left;
  }
}
