@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
}
